<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="/var/www/PatiVerCore/nlog-internal.log" >
	
	<targets>
		<target xsi:type="Database"
				name ="PersonResponseLogDB"
				dbProvider="System.Data.SqlClient"
				connectionString ="${configsetting:name=ConnectionStrings.PersonResponse}"
				commandText="INSERT INTO Operationlogs (LogDate, LogLevel, IpAddress, OperationHash, Message, Logger, CallSite, StackTrace, [Exception]) VALUES (@logDate, @logLevel, @ipAddress, @operationHash, @message, @logger, @callSite, @stackTrace, @exception)">
			<parameter name="@logDate" layout="${date}"/>
			<parameter name="@logLevel" layout="${uppercase:${level}}"/>
			<parameter name="@ipAddress" layout="${ipAddress}"/>
			<parameter name="@operationHash" layout="${operationHash}"/>
			<parameter name="@message" layout="${message}"/>
			<parameter name="@logger" layout="${logger} "/>
			<parameter name="@callSite" layout="${callsite}"/>
			<parameter name="@stackTrace" layout="${stacktrace}"/>
			<parameter name="@exception" layout="${exception}"/>
		</target>
	</targets>
	<rules>
		<logger name="PatiVerCore.Concrete.PatiVerManager" level="Info" writeTo="PersonResponseLogDB"/>
		
		<logger name="PatiVerCore.ServiceLayer.CacheService.CacheService" level="Debug" writeTo="PersonResponseLogDB"/>
		<logger name="PatiVerCore.Program" level="Debug" writeTo="PersonResponseLogDB"/>
		<logger name="PatiVerCore.DataLayer.DAL" level="Debug" writeTo="PersonResponseLogDB"/>
		
		<logger name="PatiVerCore.Program" level="Error" writeTo="PersonResponseLogDB"/>
		<logger name="PatiVerCore.Concrete.PatiVerManager" level="Error" writeTo="PersonResponseLogDB"/>
	</rules>
</nlog>